<%- include("partials/header.ejs")%>
<%- include("partials/navbar.ejs")%>

<style>
body {
	background-image: url('https://static.wallhaven.cc/images/layout/bg-dark-grain.png');
	background-repeat: repeat;
  	background-attachment: fixed;
	
}
</style>

<div class="jumbotron">
<div style="background-color:rgba(0,0,0,0.2); max-width:60vw; padding:20px">
	
<h1> &nbsp;&nbsp;Add A Picture</h1>
<form action="/pics" method="POST">

  <div class="form-group">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Title"  name="title">
    </div>
  </div>
	
	<div class="form-group">
    	<div class="col-sm-12">
     	 <input type="text" class="form-control" placeholder="URL"  name="URL">
    	</div>
  </div>
	
	<div class="form-group">
    	<div class="col-sm-12">
     	 <input type="text" class="form-control" placeholder="Short Description"  name="description">
   	 </div>
  </div>
	
	<div class="form-group">
    	<div class="col-sm-12">
			<textarea class="form-control" rows="3" placeholder="Full Description" name="descriptionLong"></textarea>
   		 </div>
  	</div>
	
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-lg btn-warning">add</button>
    </div>
  </div>
</form>
</div>
</div>


<div class="row no-gutters justify-content-md-center">

<% for (var i = 0; i < pics.length; i++){%>

	<div class= "col-6 col-sm-auto">

		<div class="thumbnail" style="border-color: #333333; background-color:#121212; height:100%;width:100%;border-width:5px; border-style: solid; ">
			<img src='<%=pics[i].URL%>' style="width:auto;height:20vw;max-width:100%;margin:auto;" />
			
			<div>
				<h4>
					<%=pics[i].title%> 
				</h4> 
			</div>
			
			<div>
				<h6>
					by: <%=pics[i].author.username%>
				</h6> 
			</div>
			
			<div>
				<h7>
					<%=pics[i].description%>
				</h7> 
			</div>
			
			
			<a class="btn btn-xs btn-warning" href="/pics/<%=pics[i]._id%>">
				show More
			</a>			

		</div>
	</div>
<%}%>
</div>




<script>
function redirect(id) {
	var str = "/pics/" + id;
	return (str);
}
</script>






<%- include("partials/footer.ejs")%>