<%- include("partials/header.ejs")%>
<%- include("partials/navbar.ejs")%>
<style>
body {
	background-image: url('https://static.wallhaven.cc/images/layout/bg-dark-grain.png');
	background-repeat: repeat;
  	background-attachment: fixed;
	
}
</style>


<img src='<%=pics.URL%>' style="width:auto%; height:auto%; max-width:1920px; max-height:980px;" >
<br>
<h1> <%=pics.title%> </h1>

<h4> <%=pics.description%> </h4>
<br>
<%=pics.descriptionLong%>
<br><br>

	<a class="btn btn-lg btn-primary" href='<%=pics.URL%>'>
		Original
	</a>

<%console.log(pics._URL)%>

<% if(isOwner){ %>


<a class="btn btn-lg btn-warning" href="/pics/<%=pics._id%>/edit">
	Edit
</a>


<form id= "delete-form" action= "/pics/<%=pics._id%>?_method=DELETE" method="POST">
	<button class = "btn btn-lg btn-danger">
			Delete
	</button>
</form>	

<%}%>

<%- include("partials/footer.ejs")%>